# Import ke GDrive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Dummy Data Car_Product

In [3]:
pip install Faker

Collecting Faker
  Downloading Faker-18.11.2-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 21.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Installing collected packages: Faker
Successfully installed Faker-18.11.2

In [4]:
pip install faker_vehicle

Collecting faker_vehicle
  Downloading faker_vehicle-0.2.0-py2.py3-none-any.whl (162 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 162.4/162.4 kB 3.9 MB/s eta 0:00:00
Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (from faker_vehicle) (18.11.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.10/dist-packages (from faker->faker_vehicle) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.4->faker->faker_vehicle) (1.16.0)
Installing collected packages: faker_vehicle
Successfully installed faker_vehicle-0.2.0

In [5]:
import csv
from faker import Faker
from faker_vehicle import VehicleProvider
from tabulate import tabulate

fake = Faker()
fake.add_provider(VehicleProvider)

headers = ['product_id', 'brand', 'model', 'body_type', 'year', 'price']
data = []

for i in range(49):
    row = [fake.random_int(min=1, max=14), fake.vehicle_make(), fake.vehicle_model(), fake.vehicle_category(), fake.vehicle_year(), fake.random_int(min=1000, max=100000)]
    data.append(row)

with open('/content/drive/MyDrive/Pacmann SQL/Final Project/car_product.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(headers)
    writer.writerows(data)

print(tabulate(data, headers=headers, tablefmt='grid'))

+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|   product_id | brand         | model                         | body_type                 |   year |   price |
+==============+===============+===============================+===========================+========+=========+
|            5 | Chevrolet     | 1500 Quad Cab                 | Pickup                    |   2014 |   89184 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            6 | Nissan        | Edge                          | Sedan                     |   2016 |   49547 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           13 | Ford          | M2                            | Sedan                     |   1999 |   47152 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            6 | Mercury       | Tundra Regular Cab            | SUV                       |   2005 |   84944 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           13 | Chevrolet     | A4                            | Hatchback                 |   2002 |   40068 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           12 | Chevrolet     | LeSabre                       | Coupe, Convertible        |   1999 |   95394 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           13 | Toyota        | Patriot                       | Pickup                    |   1995 |   92727 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           12 | Nissan        | Sprinter 2500 Cargo           | Van/Minivan               |   2009 |   36578 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            8 | Ram           | Routan                        | Sedan                     |   2001 |   92882 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            6 | Mercedes-Benz | F350 Regular Cab              | SUV                       |   2009 |   91080 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            3 | Chevrolet     | Tiburon                       | Coupe                     |   2013 |   57301 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            4 | Mitsubishi    | M-Class                       | Sedan                     |   2010 |   59593 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            9 | Chrysler      | Frontier King Cab             | Pickup                    |   1993 |   62889 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            8 | Ford          | MPV                           | Van/Minivan               |   1995 |   60086 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            4 | Toyota        | Rogue                         | Wagon                     |   2005 |   46904 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            7 | Lexus         | Elise                         | Sedan                     |   2017 |    3952 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           11 | Toyota        | XK                            | Pickup                    |   2005 |    6491 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            5 | GMC           | Caravan Passenger             | SUV                       |   1999 |    4043 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            9 | Cadillac      | Durango                       | Sedan                     |   2003 |   24148 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           14 | Mitsubishi    | Taycan                        | Sedan, Hatchback, Wagon   |   2015 |   30690 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           13 | Cadillac      | Taurus                        | Sedan                     |   1996 |   17103 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           10 | Pontiac       | Silverado 3500 HD Regular Cab | SUV                       |   2005 |   69557 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            3 | BMW           | 350Z                          | Pickup                    |   2010 |   24108 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           11 | Toyota        | Quest                         | Sedan                     |   2018 |   95544 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           14 | Lexus         | F350 Regular Cab              | SUV                       |   1997 |   37594 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           14 | Porsche       | Raider Extended Cab           | Sedan                     |   1995 |   37177 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            3 | Ford          | Impreza                       | SUV                       |   2001 |   63538 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            9 | BMW           | Altima                        | Coupe                     |   2003 |   64334 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            2 | Honda         | Ranger Regular Cab            | SUV                       |   2018 |   12865 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            1 | Porsche       | Dakota Club Cab               | Sedan                     |   2002 |   37630 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            4 | Chevrolet     | XTS                           | SUV                       |   2001 |   47479 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           10 | Porsche       | 740                           | Coupe, Convertible        |   2006 |    7274 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            2 | Kia           | Blackwood                     | Pickup                    |   1996 |   51913 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            7 | Chevrolet     | Paseo                         | Pickup                    |   2019 |   30411 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           10 | Porsche       | Savana 3500 Passenger         | SUV                       |   2018 |   65901 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            4 | Acura         | A4                            | Sedan, Coupe, Convertible |   2019 |   53950 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            4 | Mercedes-Benz | Pathfinder                    | Sedan, Wagon              |   2018 |   80562 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           14 | Saab          | Baja                          | SUV                       |   2016 |   70259 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            3 | Chevrolet     | S10 Extended Cab              | Sedan, Coupe              |   2004 |   64285 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            2 | Ford          | Soul EV                       | Pickup                    |   1997 |   57792 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            7 | Mercedes-Benz | Metris WORKER Cargo           | Hatchback                 |   2011 |   25296 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            9 | GMC           | Navigator                     | SUV                       |   2006 |   15966 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            9 | Acura         | CT6-V                         | Convertible               |   2003 |   90640 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           11 | Ford          | XC70                          | SUV                       |   2010 |   14768 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|            9 | Toyota        | Monterey                      | Pickup                    |   2002 |   78317 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           13 | Chevrolet     | Q5                            | Van/Minivan               |   2014 |   55608 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           11 | Volvo         | Enclave                       | SUV                       |   2017 |   24987 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           12 | Suzuki        | Intrepid                      | Sedan                     |   2011 |   20214 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+
|           11 | Lexus         | Charger                       | Hatchback                 |   1996 |   22982 |
+--------------+---------------+-------------------------------+---------------------------+--------+---------+

# Dummy Data City

In [6]:
import csv
from faker import Faker
from tabulate import tabulate


fake = Faker('id_ID')

headers = ['kota_id', 'nama_kota', 'latitude', 'longitude']
data = []

for i in range(49):
    row = [fake.random_int(min=1, max=49), fake.city(), fake.latitude(), fake.longitude()]
    data.append(row)

with open('/content/drive/MyDrive/Pacmann SQL/Final Project/city.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(headers)
    writer.writerows(data)

print(tabulate(data, headers=headers, tablefmt='grid'))

+-----------+---------------------------------+------------+-------------+
|   kota_id | nama_kota                       |   latitude |   longitude |
+===========+=================================+============+=============+
|        21 | Sukabumi                        |    7.56153 |    20.1285  |
+-----------+---------------------------------+------------+-------------+
|        42 | Kota Administrasi Jakarta Pusat |   42.0078  |    26.2073  |
+-----------+---------------------------------+------------+-------------+
|         3 | Prabumulih                      |  -68.693   |    93.7097  |
+-----------+---------------------------------+------------+-------------+
|        14 | Sungai Penuh                    |  -27.9958  |   150.575   |
+-----------+---------------------------------+------------+-------------+
|        22 | Probolinggo                     |  -20.7574  |   107.398   |
+-----------+---------------------------------+------------+-------------+
|        26 | Pekanbaru                       |   33.3819  |    20.7001  |
+-----------+---------------------------------+------------+-------------+
|        27 | Padangpanjang                   |  -28.6456  |    62.7967  |
+-----------+---------------------------------+------------+-------------+
|        30 | Bontang                         |  -69.5344  |    -8.56707 |
+-----------+---------------------------------+------------+-------------+
|        13 | Pasuruan                        |  -36.4179  |   -57.4204  |
+-----------+---------------------------------+------------+-------------+
|        26 | Parepare                        |   -6.11738 |   123.394   |
+-----------+---------------------------------+------------+-------------+
|        16 | Lubuklinggau                    |   -5.84625 |   -53.8887  |
+-----------+---------------------------------+------------+-------------+
|        34 | Palu                            |   79.4059  |   112.455   |
+-----------+---------------------------------+------------+-------------+
|        30 | Bandung                         |   87.1443  |   -10.9398  |
+-----------+---------------------------------+------------+-------------+
|         2 | Subulussalam                    |  -89.2901  |    56.2409  |
+-----------+---------------------------------+------------+-------------+
|         9 | Tanjungbalai                    |   69.3946  |     7.49677 |
+-----------+---------------------------------+------------+-------------+
|         3 | Dumai                           |   53.3006  |   -28.5783  |
+-----------+---------------------------------+------------+-------------+
|        15 | Singkawang                      |   61.4413  |    55.9988  |
+-----------+---------------------------------+------------+-------------+
|         1 | Pariaman                        |   -9.96793 |   -73.9966  |
+-----------+---------------------------------+------------+-------------+
|        15 | Manado                          |   32.2297  |  -147.912   |
+-----------+---------------------------------+------------+-------------+
|        42 | Padang Sidempuan                |    5.21474 |    49.1804  |
+-----------+---------------------------------+------------+-------------+
|        32 | Pekanbaru                       |   39.7403  |    74.7638  |
+-----------+---------------------------------+------------+-------------+
|         3 | Tangerang                       |   59.602   |     8.6979  |
+-----------+---------------------------------+------------+-------------+
|        41 | Pontianak                       |   -6.23931 |  -144.379   |
+-----------+---------------------------------+------------+-------------+
|        45 | Madiun                          |    9.31987 |   -55.4014  |
+-----------+---------------------------------+------------+-------------+
|        35 | Makassar                        |   54.7068  |   132.225   |
+-----------+---------------------------------+------------+-------------+
|        37 | Pekanbaru                       |  -22.9731  |  -137.938   |
+-----------+---------------------------------+------------+-------------+
|        37 | Bengkulu                        |  -23.5139  |    52.9465  |
+-----------+---------------------------------+------------+-------------+
|        15 | Blitar                          |   84.0797  |   -32.0169  |
+-----------+---------------------------------+------------+-------------+
|        26 | Medan                           |   87.5073  |   132.529   |
+-----------+---------------------------------+------------+-------------+
|        44 | Jambi                           |   79.7047  |    62.8381  |
+-----------+---------------------------------+------------+-------------+
|        11 | Batu                            |   41.2542  |    16.7038  |
+-----------+---------------------------------+------------+-------------+
|        37 | Padang                          |   76.932   |   -93.8774  |
+-----------+---------------------------------+------------+-------------+
|        44 | Payakumbuh                      |  -39.0595  |  -171.656   |
+-----------+---------------------------------+------------+-------------+
|        32 | Semarang                        |  -12.9344  |    38.9776  |
+-----------+---------------------------------+------------+-------------+
|        14 | Palembang                       |   56.2024  |    70.9712  |
+-----------+---------------------------------+------------+-------------+
|        18 | Banjar                          |   85.0783  |   -51.2771  |
+-----------+---------------------------------+------------+-------------+
|        36 | Sawahlunto                      |   81.4815  |   154.205   |
+-----------+---------------------------------+------------+-------------+
|        13 | Tanjungpinang                   |   41.2722  |   -73.3617  |
+-----------+---------------------------------+------------+-------------+
|        14 | Sukabumi                        |  -55.1658  |   -32.297   |
+-----------+---------------------------------+------------+-------------+
|        42 | Serang                          |   40.126   |   -93.4018  |
+-----------+---------------------------------+------------+-------------+
|        13 | Meulaboh                        |  -81.805   |    80.3467  |
+-----------+---------------------------------+------------+-------------+
|        28 | Tegal                           |   42.7146  |    56.922   |
+-----------+---------------------------------+------------+-------------+
|        30 | Pariaman                        |    3.49357 |  -148.694   |
+-----------+---------------------------------+------------+-------------+
|        31 | Depok                           |   65.8676  |    31.8728  |
+-----------+---------------------------------+------------+-------------+
|        12 | Kota Administrasi Jakarta Pusat |  -34.069   |   173.773   |
+-----------+---------------------------------+------------+-------------+
|        45 | Blitar                          |  -73.6623  |    28.6761  |
+-----------+---------------------------------+------------+-------------+
|        16 | Langsa                          |   54.1625  |   -59.2256  |
+-----------+---------------------------------+------------+-------------+
|        13 | Ternate                         |  -84.4097  |   127.667   |
+-----------+---------------------------------+------------+-------------+
|        11 | Sabang                          |   68.6744  |    84.0492  |
+-----------+---------------------------------+------------+-------------+